@*
    ViewData["Title"] = "All Watches";
*@
@{
}

<html>

<head>



    <style>
        span {
            position: relative;
            left: 20px;
            font-weight: 600;
            color: white;
        }

            span.sort {
                position: relative;
                left: 76%;
                font-weight: 400;
                color: white;
                border-style: solid;
                padding: 7px;
                border-radius: 8px;
                border-color: white;
            }
    </style>
</head>
<body style="background-color:black">
    

    <div class="text-center" style="padding: 20px">
        <h1 style="color: white">All Watches</h1>
    </div>
    <div class="container-fluid mt-3">
        <span>7 listings</span>
        <span class="sort">Sort By: Lowest Price </span>
        <div class="row">
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/MyG-SHOCK.jpg" alt="Casio G-SHOCK" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Casio G-SHOCK</h4>
                        <p class="card-text">
                            <i>REF.GA-2100-1A1DR</i>
                            <br />
                            From G-SHOCK, the toughness watches that continue to evolve in search of ultimate strength
                        </p>
                        <a href="/Products" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
            <br><div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/Seiko.jpg" alt="Seiko Automatic" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Seiko Automatic</h4>
                        <p class="card-text">
                            <i>REF.019228J</i>
                            <br />
                            Forefront runner in terms of affordability, elegance and precision timekeeping
                        </p>
                        <a href="/Products" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/MyTissot.png" alt="Tissot PRX" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Tissot PRX</h4>
                        <p class="card-text">
                            <i>REF.178452S</i>
                            <br />
                            The Tissot PRX is a sleek and contemporary timepiece that combines modern aesthetics with Swiss precision, offering a 
                            versatile and stylish option for everyday wear.
                        </p>
                        <a href="/Products" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/Omega.jpg" alt="Omega Speedmaster" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Omega Speedmaster</h4>
                        <p class="card-text">
                            <i>REF.AE6785L</i>
                            <br />

                            The Omega Speedmaster is an iconic chronograph famous as the "Moonwatch" for being the first watch worn on the moon, 
                            celebrated for its enduring style and precision.
                        </p>
                        <a href="/Products" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/Rolex.jpg" alt="Rolex Submariner" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Rolex Submariner</h4>
                        <p class="card-text">
                            <i>REF.14060</i>
                            <br />
                            The face of Rolex, versatile, classy and luxurious
                        </p>
                        <a href="/Products" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
          
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/AudemarsPiguet1.jpg" alt="Audemars Piguet Royal Oak" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Audemars Piguet Royal Oak</h4>
                        <p class="card-text">
                            <i>REF.56847Q</i>
                            <br />
                            Experience the iconic Royal Oak, whose pioneering design and craftsmanship embody Audemars Piguet's uncompromising vision of luxury
                        </p>
                        <a href="/Products" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/PatekPhillipe.jpg" alt="Patek Philippe Nautilus" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Patek Philippe Nautilus</h4>
                        <p class="card-text">
                            <i>REF.776483P</i>
                            <br />
                            The Patek Philippe Nautilus is a legendary luxury sports watch renowned for its distinctive porthole-inspired design and impeccable craftsmanship
                        </p>
                        <a href="/Products" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>