@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4"><FONT COLOR="white">Brands</FONT> </h1>

    </h1>
</div>
<p><font color="white">Brands: Rolex, Patek Philippe, Audemars Piguet, Omega, Seiko, Casio</font></p>


<div class="container mt-5">
    <div class="card" style="width:500px">
        <img class="card-img-top" src="~/images/rolex.jpg" />
        <div class="card-img-overlay">
            <center> <h4 class="card-title"> <font color="white">Rolex</font> </h4> </center>
            <p class="card-text"></p>

        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card" style="width:500px">
        <img class="card-img-top" src="~/images/AudemarsPiguet.jpg" />
        <div class="card-img-overlay">
            <center> <h4 class="card-title"> <font color="white">Audemars Piguet</font> </h4> </center>
            <p class="card-text"></p>

        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card" style="width:500px">
        <img class="card-img-top" src="~/images/PatekPhillipe.jpg" />
        <div class="card-img-overlay">
            <center> <h4 class="card-title"> <font color="white">Patek Philippe</font> </h4> </center>
            <p class="card-text"></p>

        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card" style="width:500px">
        <img class="card-img-top" src="~/images/Omega.jpg" />
        <div class="card-img-overlay">
            <center> <h4 class="card-title"> <font color="white">Omega</font> </h4> </center>
            <p class="card-text"></p>

        </div>
    </div>
</div>