@*
    ViewData["Title"] = "Contact";
*@
@{
}
<div class="text-center">
    <h1 class="display-4"><font color="white">Contact Us</font> </h1>

    
</div>


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #000;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #000;
            }

    </style>
</head>
<body>

   <center> <div class="container p-5 my-5 bg-black text-white rounded">
        <h1>Chrono Marketplace Contact Details:</h1>
        <h5>Phone: +64 22 6651 172</h5>
        <h5>Email: chronomarketplace@gmail.com</h5>
        <h5>HQ Address: 75 Queen Street, Auckland CBD, Auckland 1010</h5>
    </div> </center>
    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.8815036609126!2d174.76359937635914!3d-36.845313879314325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47fbc565938f%3A0x11f9a89016588974!2s75%20Queen%20Street%2C%20Auckland%20CBD%2C%20Auckland%201010!5e0!3m2!1sen!2snz!4v1714292132119!5m2!1sen!2snz"
    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </center>

   
    <div class="container">
        <form action="/action_page.php">
            <label for="fname" style="color:white">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your First Name...">

            <label for="lname" style="color:white">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your Last Name..">

            <label for="city" style=" color:white">City</label>
            <select id="city" name="city">
                <option value="auckland">Auckland</option>
                <option value="wellington">Hamilton</option>
                <option value="christchurch">Tauranga</option>
                <option value="hamilton">Christchurch</option>
                <option value="dunedin">Dunedin </option>
                <option value="rotorua">Other</option>
            </select>

            <label for="subject" style="color:white">Subject Matter</label>
            <textarea id="subject" name="subject" placeholder="Please describe your query..." style="height:200px"></textarea>

            <input type="submit" value="Send">
        </form>
    </div>

</body>
</html>