@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4"><FONT COLOR="white">Contact</FONT> </h1>

    </h1>
</div>
@{
    ViewData["Title"] = "Contact Us";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #000;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #000;
            }

    </style>
</head>
<body>

    <div class="container p-5 my-5 bg-black text-white rounded">
        <h1><center>Chrono Marketplace Contact Details:</center></h1>
        <h5>Phone: +64 22 6651 172</h5>
        <h5>Email: chronomarketplace@gmail.com</h5>
        <h5>HQ Address: 75 Queen Street, Auckland CBD, Auckland 1010</h5>
    </div>


    <div class="container">
        <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your First Name...">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your Last Name..">

            <label for="city">City</label>
            <select id="city" name="city">
                <option value="auckland">Auckland</option>
                <option value="wellington">Hamilton</option>
                <option value="christchurch">Tauranga</option>
                <option value="hamilton">Christchurch</option>
                <option value="dunedin">Dunedin </option>
                <option value="rotorua">Other</option>
            </select>

            <label for="subject">Subject Matter</label>
            <textarea id="subject" name="subject" placeholder="Please describe your query..." style="height:200px"></textarea>

            <input type="submit" value="Send">
        </form>
    </div>

</body>
</html>