@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chrono Marketplace</h1>
    <p>Created by Parin Shah</p>
</div>
<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search for products..." aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
