@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4"><FONT COLOR="white">New Arrivals</FONT> </h1>

    </h1>
</div>
<p><font color="white">Placeholder</font></p>

<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/rolex.jpg"/>
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">New Arrivals for Rolex Watches</font> </h4> </center>
        <p class="card-text"></p>
    
    </div>
</div>

<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/seiko.jpg" />
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">New Arrivals for Seiko Watches</font> </h4> </center>
        <p class="card-text"></p>
        
    </div>
</div>

<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/casio.jpg" />
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">New Arrivals for Casio Watches</font> </h4> </center>
        <p class="card-text"></p>

    </div>
</div>

<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/casio2.jpg" />
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">New Arrivals for Other Watches</font> </h4> </center>
        <p class="card-text"></p>

    </div>
</div>