@*
    ViewData["Title"] = "New Arrivals";
*@
@{
}

<html>

<head>

    

    <style>
        span {
            position: relative;
            left: 20px;
            font-weight: 600;
            color: white;
        }

            span.sort {
                position: relative;
                left: 76%;
                font-weight: 400;
                color: white;
                border-style: solid;
                padding: 7px;
                border-radius: 8px;
                border-color: white;
            }
    </style>
</head>
<body style="background-color:black">
    >

    <div class="text-center" style="padding: 20px">
        <h1 style="color: white">New Arrivals</h1>
    </div>
    <div class="container-fluid mt-3">
        <span>3 listings</span>
        <span class="sort">Sort By: Recently added</span>
        <div class="row">
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/Rolex.jpg" alt="Rolex Submariner" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Rolex Submariner</h4>
                        <p class="card-text">
                            <i>REF.14060</i>
                            <br />
                            The face of Rolex, versatile, classy and luxurious
                        </p>
                        <a href="#" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/Seiko.jpg" alt="Seiko Automatic" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Seiko Automatic</h4>
                        <p class="card-text">
                            <i>REF.019228J</i>
                            <br />
                            Forefront runner in terms of affordability, elegance and precision timekeeping
                        </p>
                        <a href="#" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/MyG-SHOCK.jpg" alt="Casio G-SHOCK" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Casio G-SHOCK</h4>
                        <p class="card-text">
                            <i>REF.GA-2100-1A1DR</i>
                            <br />
                            From G-SHOCK, the toughness watches that continue to evolve in search of ultimate strength
                        </p>
                        <a href="#" class="btn btn-primary">See Watch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>