@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4"><FONT COLOR="white">New Arrivals</FONT> </h1>

    </h1>
</div>

<p><font color="white">Placeholder</font></p>

<div class="container mt-3">
<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/rolex.jpg"/>
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">Rolex Submariner REF.14060MMMMMMMMMM</font> </h4> </center>
        <p class="card-text"></p>
    
    </div>
</div>
</div>

<div class="container mt-3">
<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/seiko.jpg" />
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">Seiko Automatic REF.019228JJJJJJJJ </font> </h4> </center>
        <p class="card-text"></p>
        
    </div>
</div>
</div>

<div class="container mt-3">
<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/casio.jpg" />
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">Casio GSHOCK REF.GA-2100-1A1DR</font> </h4> </center>
        <p class="card-text"></p>

    </div>
</div>
</div>

<div class="container mt-3">
<div class="card" style="width:500px">
    <img class="card-img-top" src="~/images/Omega.jpg" />
    <div class="card-img-overlay">
        <center> <h4 class="card-title"> <font color="white">Omega Speedmaster REF.21548</font> </h4> </center>
        <p class="card-text"></p>

    </div>
</div>
</div>