@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4"><FONT COLOR="white">Selling Form</FONT> </h1>

    
</div>
<center>
    <div class="container.sm p-5 my-5 bg-dark text-white col-md-8 rounded">
        <h2>Selling at Chrono Marketplace Information: </h2>

        <p>
            <font color="white">
                <h5>
                    Chrono Marketplace takes the hassle out of selling a watch while ensuring you get the best possible price: every single time. We know
                    exactly when the right time to sell specific timepieces is and know exactly where to sell them.
                </h5> <br />

                
                    Our network within the industry allows us to connect your watch to the person who is searching for it... allowing you to save the time
                    and effort required to set up and negotiate a sale. As with every Chrono Marketplace service, our customers' experience is prioritized over profit
                    in every single scenario. In the past, we have encouraged clients to hold onto their watch for a little longer as it could be worth significantly more in a
                    few months' time. On other occasions,
                    we have made the sale on the same day. It all depends on the watch, the time/date involved, and what's best for our client. <br />
               <br /> <a asp-area="" asp-controller="Home" asp-action="Contact"> Enquire here to submit Selling form</a>
                
            </font>



        </p>
    </div>

</center>