@*
    ViewData["Title"] = "Sell Now";
*@
@{
}

<html>

<head>



    <style>
        span {
            position: relative;
            left: 20px;
            font-weight: 600;
            color: white;
        }

            span.sort {
                position: relative;
                left: 76%;
                font-weight: 400;
                color: white;
                border-style: solid;
                padding: 7px;
                border-radius: 8px;
                border-color: white;
            }
    </style>
</head>
<body style="background-color:black">
    

    <div class="text-center" style="padding: 20px">
        <h1 style="color: white">Sell Now</h1>
    </div>
    <div class="container-fluid mt-3">
        
        <div class="row">
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/Watch Box.jpg" alt="Sell an Accessory" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Sell an Accessory</h4>
                        <p class="card-text">
                            <i>Accessories Include: Watch Rolls/Boxes, Straps, Tools...</i>
                            <br />
                            Sell along with our curated selection of premium watch accessories, from straps to tools, to enhance and personalize your timepiece experience
                        </p>
                        <a href="#" class="btn btn-primary">Sell Accessory</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/Casio2.jpg" alt="Sell based on Watch Brand" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Sell based on Watch Brand</h4>
                        <p class="card-text">
                            <i>Watch Brands Include: Casio G-SHOCK, Rolex, Tissot...</i>
                            <br />
                            Sell and discover our collection of meticulously curated watches from renowned brands, offering timeless elegance and precision craftsmanship
                        </p>
                        <a href="#" class="btn btn-primary">Sell Watch</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-4 p-3 text-black">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="~/Images/MyTissot.png" alt="Sell based on Reference Number" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Sell based on Reference Number</h4>
                        <p class="card-text">
                            <i>Reference Number: i.e. REF.GA-2100-1A1DR </i>
                            <br />
                            Sell and browse our selection of watches organized by reference numbers, ensuring precision in finding the exact timepiece you desire
                        </p>
                        <a href="#" class="btn btn-primary">Sell Watch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>