@model ChronoMarketplace.Models.ShoppingOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShoppingOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <input asp-for="PaymentId" class="form-control" />
                <span asp-validation-for="PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoppingFirstName" class="control-label"></label>
                <input asp-for="ShoppingFirstName" class="form-control" />
                <span asp-validation-for="ShoppingFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orderdate" class="control-label"></label>
                <input asp-for="Orderdate" class="form-control" />
                <span asp-validation-for="Orderdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipmentdate" class="control-label"></label>
                <input asp-for="Shipmentdate" class="form-control" />
                <span asp-validation-for="Shipmentdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalprice" class="control-label"></label>
                <input asp-for="Totalprice" class="form-control" />
                <span asp-validation-for="Totalprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <select asp-for="OrderStatus" class="form-control"></select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartQuantity" class="control-label"></label>
                <input asp-for="CartQuantity" class="form-control" />
                <span asp-validation-for="CartQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
