<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChronoMarketplace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChronoMarketplace.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-black bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
           
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                            <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/chrono marketplace logo - no background.png" alt="Chrono Marketplace" style="width:200px" />
                            </a>


                        </li>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                             
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <FONT COLOR="white">Buy a Watch</FONT>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="NewArrivals"> New Arrivals</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AllWatches"> All Watches</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Brands"> Brands</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Accessories"> Accessories</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <FONT COLOR="white">Sell a Watch</FONT>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SellNow"> Sell Now</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SellingForm"> Selling Form</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="TermsandConditions"> Terms and Conditions</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><FONT COLOR="white">Contact</FONT></a>
                                        </li>
                                        

                                       
                                      
    
                                    </ul>
                                    
                                </div>
                            </div>
                           
                
                      
                        </nav>
                    </ul>
                </div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Cart"><img src="~/images/shopping cart.jpg" alt="Shopping Cart" width="40px" /></a>
        
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:white">
            &copy; 2024 - ChronoMarketplace - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
